
.position-relative {
	position: relative;
}

.add-contact {
	position: absolute;
    right: 17px;
    top: 57px;
}

mat-card-title {
    padding-bottom: 15px;
}



.head-card-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .icons {
        margin-top: 25px;
        .fas {
            cursor: pointer;
        }
        .fa-redo {
            margin-right: 22px;
        }
    }
    .option-forms {
        margin-top: 20px;
        display: flex;
        width: 70%;
        justify-content: space-between;
        // flex-wrap: wrap;
        ng-select {
            width: 40%;
            ng-clear-wrapper {
                margin-top: 4px;
            }
        }
    }
}

.card-content {
    display: flex;
    justify-content: space-between;
    // flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
    .icons {
        margin-top: 25px;
        .fas {
            cursor: pointer;
        }
        .fa-redo {
            margin-right: 22px;
        }
    }
    .option-forms {
        margin-top: 20px;
        height: 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        // flex-wrap: wrap;
        ng-select {
            width: 15%;

        }
        ::ng-deep {
            .ng-dropdown-panel.ng-select-bottom {
                margin-top: 15px !important;
            }
        }
   
       
        .simple-input {
            width: 15%;
            height: 38px;
        }
      
    }
    .mat-form-field-wrapper {
        padding: 0xp !important;
        margin: 0px !important;
    }
    input[type=text] {
        font-family: "Poppins", sans-serif !important;
        width: 100%;
        padding: 7px 15px;
        // margin: 8px 0;
        min-height: 36px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-family: "Poppins", sans-serif !important;
        margin: 0;
        overflow-x: hidden;
        color: #999;
        font-weight: 300;
        font-size: 15px;
      }
      .calendar {
          width: 15%;
      }
}

.ng-clear-wrapper {
    span {
        margin-top: 4px !important;
    }
}

::ng-deep {
    .ng-select .ng-clear-wrapper {
    margin-top: 4px !important;
    width: 13px !important;
}

}

// Fixed the z-index problem 
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:none!important;animation-fill-mode:none!important}