<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap" >
    <!-- column -->    
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100"  fxFlex.gt-xs="100" fxFlex="100" class="animated slideInRight">
            <h2 class="mat-h2">Ubersicht</h2>
        <mat-card>
            <mat-card-content>
                <mat-card-title>Title</mat-card-title>
                <hr>
                <div class="head-card-content">
                        <div class="option-forms">
                                <!-- <label>Your first ng-select</label> -->
                                <ng-select [items]="cities"
                                           bindLabel="name"
                                           placeholder="Select city"
                                           [(ngModel)]="selectedCity">
                                </ng-select>
                                <!-- <label>Your first ng-select</label> -->
                                <ng-select [items]="cities"
                                           bindLabel="name"
                                           placeholder="Select city"
                                           [(ngModel)]="selectedCity">
                                </ng-select>
                        </div>
                        <div class="icons">
                                <i class="fas fa-redo"></i> 
                                <i class="fas fa-undo"></i>
                        </div>
                </div>
              
            </mat-card-content>
         
           
        
            <!-- <mat-card-content>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-success m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Mobile</h6>
                    </li>
                    <li>
                        <h6 class=" text-info  m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Desktop</h6>
                    </li>
                    <li>
                        <h6 class=" text-purple  m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Tablet</h6>
                    </li>
                </ul>
            </mat-card-content> -->
        </mat-card>
    </div>
    <div fxFlex.gt-lg="100" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100" class="z-index-solution animated slideInLeft">
        <mat-card>
            <mat-card-content>
                    <mat-card-title>Title</mat-card-title>
                    <hr>
                    <div class="card-content">
                        <div class="option-forms">
                            <!-- <label>Your first ng-select</label> -->
                            <ng-select [items]="cities"
                                        bindLabel="name"
                                        placeholder="Select city"
                                        [(ngModel)]="selectedCity">
                            </ng-select>
                            <!-- <label>Your first ng-select</label> -->
                            <ng-select [items]="cities"
                                        bindLabel="name"
                                        placeholder="Select city"
                                        [(ngModel)]="selectedCity">
                            </ng-select>
                            <div class="calendar">
                                <mat-form-field class="example-full-width">
                                    <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>   
                            </div>
                                <!-- <label>Your first ng-select</label> -->
                            <ng-select [items]="cities"
                                bindLabel="name"
                                placeholder="Select city"
                                [(ngModel)]="selectedCity">
                            </ng-select>
                            <!-- <label>Your first ng-select</label> -->
                            <ng-select [items]="cities"
                                        bindLabel="name"
                                        placeholder="Select city"
                                        [(ngModel)]="selectedCity">
                            </ng-select>
                            <input type="text" id="fname" name="firstname" class="simple-input" placeholder="Your name">
                        </div>
                    </div>

                <div class="barchrt" style="height:360px;">
                    <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions"
                        [events]="barChart1.events"> </x-chartist>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->    
    <!-- column -->    

    <!-- column -->    
</div>

