.calendar {
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        height: 0px !important;
    }
    .mat-form-field-infix {
        border-top: none !important;
    }
    
    .mat-form-field-ripple {
        display: none !important;
    }
    
    mat-form-field {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #ccc;
        height: 36px;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 10px;
        padding-right: 6px;
        .mat-form-field-infix { /* Chrome/Opera/Safari */
            font-family: "Poppins", sans-serif !important;
            margin: 0;
            overflow-x: hidden;
            color: #999;
            font-weight: 300;
            font-size: 15px;
            input {
                width: 100% !important;
            }
          }
    }
    .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 0.6375em 0 !important;
    }
    .mat-form-field-label {
        font-family: "Poppins", sans-serif !important;
        margin: 0;
        overflow-x: hidden;
        color: #999;
        font-weight: 300;
        font-size: 15px;
        margin-top: 2px !important;
    }
}