/*============================================================== 
 For Laptop & above all (1650px) 
 ============================================================== */

@media(min-width:1650px) {
    .main-container.boxed{
        max-width: 1920px;
        margin: 0 auto;
    }
}
/*============================================================== 
 For Laptop & above all (1370px) 
 ============================================================== */

@media(max-width:1600px) {
     .main-container.boxed{
        max-width: 1300px;
        margin: 0 auto;
    } 
}


/*-- ============================================================== 
 Small Desktop & above all (1024px) 
 ============================================================== */

@media(min-width:1024px) {
  .card-group{
    padding: 0 15px;
    display: flex;
    flex-flow:row wrap;
    .mat-card{
       margin: 15px 0px;
       flex: 1 0 0%;
        border-left:1px solid $border;
            &:first-child{
                border:0px;
            }
        }
    } 
    
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .card-group{
        margin: 15px 0;
        .mat-card{
            margin: 0 15px;
            border-top:1px solid $border;
            &:first-child{
                border:0px;
            }
        }
    }
        .card-content {
        display: flex;
        .option-forms {
            display: flex;
            flex-direction: row !important;
            flex-wrap: wrap;
            width: 100% !important;
            margin-bottom: 140px;
            ng-select {
                width: 45% !important;
                    margin-bottom: 15px;
            }
        }
        input {
            width: 45% !important;
        }
        mat-form-field {
            width: 100%;
        }
        .calendar {
            width: 45% !important;
            margin-bottom: 15px;
        }
    }
}
@media(max-width:1023px) {
   
    // .card-content {
    //     display: flex;
    //     .option-forms {
    //         display: flex;
    //         flex-direction: row !important;
    //         flex-wrap: wrap;
    //         width: 100% !important;
    //         margin-bottom: 140px;
    //         ng-select {
    //             width: 45% !important;
    //                 margin-bottom: 15px;
    //         }
    //     }
    //     input {
    //         width: 45% !important;
    //     }
    //     mat-form-field {
    //         width: 100%;
    //     }
    //     .calendar {
    //         width: 45% !important;
    //         margin-bottom: 15px;
    //     }
    // }
}


/*-- ============================================================== 
 Ipad & above all(768px) 
 ============================================================== */

@media(min-width:768px) {
    .navbar-header {
        width: 225px;
        flex-shrink:0;
        .navbar-brand {
            padding-top: 0px;
        }
    }
}


/*-- ============================================================== 
 Phone and below ipad(767px) 
 ============================================================== */
 @media only screen and (max-width: 767px) and (min-width: 300px) {
    .mat-toolbar-single-row{
        height: 64px!important;
    }
    .d-flex{
        display: block;
    }
    .no-block{
        display: flex;
    }
    .head-card-content {
        display: flex;
        .option-forms {
            display: flex;
            flex-direction: column !important;
            width: 100% !important;
            ng-select {
                width: 100% !important;
                    margin-bottom: 15px;
            }
        }
        .icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }
    .card-content {
        display: flex;
        .option-forms {
            display: flex;
            flex-direction: column !important;
            width: 100% !important;
            margin-bottom: 240px;
            ng-select {
                width: 100% !important;
                    margin-bottom: 15px;
            }
        }
        input,mat-form-field {
            width: 100% !important;
        }
        .calendar {
            width: 100% !important;
            margin-bottom: 15px;
        }
        .icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }
    }
 }
@media(max-width:767px) {

}